# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
out/

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Next.js
.next/

# Nuxt.js
.nuxt/

# Vue.js
*.cache

# Parcel
.cache/

# Svelte
.svelte-kit/

# Remixed static files
.public/

# Mac-specific files
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.swp
*~
